<!doctype html>
                        <html lang="en" xmlns:th="http://www.thymeleaf.org"
                              th:replace="~{base :: Layout(~{::section}, ${hideNavbar})}">
                        <body>
                        <section class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                            <div class="card" style="max-width: 60vw;">
                                <div class="card-body">
                                    <h3 class="card-title text-center">Login</h3>
                                    <form
                                            data-th-action="@{'/authenticate'}"
                                            method="post">
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email address</label>
                                            <input type="email" class="form-control" id="email" name="email" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="password" name="password" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary w-100">Login</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                        </body>
                        </html>
